@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0d0d;
}

/* Form  special button */
#shadow {
	border-radius: 10px;
	border: 2px solid #000;
	box-shadow: 5px 5px;
	background-color: #fc4445;
	transition: box-shadow 300ms ease, transform 500ms ease;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

#shadow:hover {
	box-shadow: none;
}

#shadow:active {
	transform: scale(0.9);
}


.special-text{
  color: #fc4445 !important;
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #bb9c2d;
  margin: 0 auto;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  appearance:inherit;
    -moz-appearance: textfield; /* Firefox */
}

/* react-verification-code-input */
.styles_react-code-input__CRulA > input{
    background: #cccccc57;
    border: none !important;
    color: #fff !important;
    font-size: 1.5rem !important;
    font-family: inherit !important;
    margin-right: 0.5rem;
    border-radius: 8px !important;
}
.styles_react-code-input__CRulA > input:focus{
  border: 2px solid #47bb5e !important;
    caret-color: #47bb5e !important;
}

.makeStyles-inputsField-10{
  background-color: transparent !important;
  width: 100% !important;
}



/* Material UI */
.MuiOutlinedInput-input{
  color: #fff !important;
}

